<%- include('partials/header') -%>

  <h1>Hello</h1>


  <!-- <option value="">--Data Type--</option>
  <option value="number">Number</option>
  <option value="string">Single line of text</option>
  <option value="textArea">Multiple lines of text</option>
  <option value="file">File</option>
  <option value="location">Location</option> -->

  <form action="/info/create_infocluster_item/<%= infoClusterObjectReturn._id%>" method="POST" class="col-1" enctype="multipart/form-data">


    <!-- Switch start tag -->
    <!-- might need to change the const of currentField later -->
    <% 
              for(let i = 0;i<infoClusterObjectReturn.Schema.length;i++) {
                 const currentField = infoClusterObjectReturn.Schema[i] 
                   switch(currentField.Field_Type) {
                     case "string":
                     %>
      <!-- first ejs end tag, under first case start -->

      <label for="<%= currentField.Field_Name%>">
        <%= currentField.Field_Name%>
      </label>
      <input type="text" name="<%= currentField.Field_Name%>" placeholder="Enter in data here">
      <input type="hidden" name="<%= currentField.Field_Name%>" value="<%= currentField.Field_Type%>">
      <% break;%>
        <% case "textArea":%>
          <label for="<%= currentField.Field_Name%>">
            <%= currentField.Field_Name%>
          </label>
          <textarea name="<%= currentField.Field_Name%>" rows="5" cols="33" placeholder="Add a discription of your data here!"></textarea>
          <input type="hidden" name="<%= currentField.Field_Name%>" value="<%= currentField.Field_Type%>">
          <% break;%>
            <% case "number":%>
              <label for="<%= currentField.Field_Name%>">
                <%= currentField.Field_Name%>
              </label>
              <input type="number" name="<%= currentField.Field_Name%>" min="0" max="9999">
              <input type="hidden" name="<%= currentField.Field_Name%>" value="<%= currentField.Field_Type%>">
              <% break;%>

                <% case "location":%>
                  <label for="<%= currentField.Field_Name%>">
                    <%= currentField.Field_Name%>
                  </label>
                  <label for="lat">
                    Latitude:
                  </label>
                  <div name="lat">
                    <input type="number" name="<%= currentField.Field_Name%>" min="0" max="9999">
                  </div>
                  <label for="lon">
                    Longitude:
                  </label>
                  <div>
                    <input type="number" name="<%= currentField.Field_Name%>" min="0" max="9999">
                  </div name="lon">
                  <input type="hidden" name="<%= currentField.Field_Name%>" value="<%= currentField.Field_Type%>">
                  <% break;%>

                    <% case "file":
                      case "img":
                      case "audio":
                      case "video":
                    %>
                      <label for="<%= currentField.Field_Name%>">
                        <%= currentField.Field_Name%>
                      </label>

                      <input type="file" name="<%= currentField.Field_Name%>" accept="file/*">
                      <input type="hidden" name="<%= currentField.Field_Name%>" value="<%= currentField.Field_Type%>">
                      <% break;%>
                        <!-- Tags that hold the ending brackets for the for loop and the switch statement -->
                        <%
                  } 
                } 
                %>
                          <!-- Switch end tag -->
                          %>


                          <button class="btn btn-primary fa fa-check-square" type="submit">Add Data!</button>
  </form>


  <section class="clusterItemContainer">

    <%

      for( let i = 0; i<clusterArr.length; i++){ 
        
         console.log("This is the unique id of each cluster item:",clusterArr[i]._id)
         let infoClusterItemID = clusterArr[i]._id
        %>


      <%  
         const currentItem = clusterArr[i]
        // const currentField = infoClusterObjectReturn.Schema[i].Field_Name
          const currentItemKeys = Object.keys(currentItem)
         for( let j = 0; j<currentItemKeys.length; j++){
        const key = currentItemKeys[j] //field name
        const valueArr = currentItem[key] //field value
        if(!Array.isArray(valueArr)) continue
         const type = valueArr[valueArr.length - 1] //data type
         console.log("This is the currentField:", key, valueArr)
          switch(type){
            case "string":
         %>
        <span>
          <b>
            <%= key %>
          </b>
        </span> ::
        <span>
          <%= valueArr[0] %>
        </span>
        <br>
        <%  
            break;
            
          case "textArea":
          %>

          <b>
            <%= key %>
          </b>
          <p>
            <%= valueArr[0] %>
          </p>
          <%   
          break;
    
                 case "number": %>
            <span>
              <b>
                <%= key %>
              </b>
            </span> ::
            <span>
              <%= valueArr[0] %>
            </span>
            <br>
            <%  
                            break;
       case "location": %>
              <a href="https://maps.google.com/?q=<%= valueArr[0] %>,<%= valueArr[1] %>">See Location in map</a>

              <%  
                                  break;
    
     }%>


                <%
    } %>
                  <br>
                  <form action="/info/delete_cluster_item/<%= infoClusterItemID %>?_method=DELETE" method="POST" class="col-3" id="<%= infoClusterItemID %>">
                    <button class=" fa fa-trash" type="submit"></button>
                  </form>

                  <p>________________________________________________________________________________</p>
                  <%  }
    %>



  </section>

  <%- include('partials/footer') -%>